# Operating System Files #

**/*~
**/*.DS_Store
**/Thumbs.db

# Build Files #

bin
target
build
.mvn
.gradle
.checkstyle

# Log Files #

log
logs
*.log

# Eclipse Project Files #

.classpath
.project
.settings
.metadata

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

